<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="register">
    <mat-card-title fxLayoutAlign="center center">
      <div>
        <h1>Fundoo</h1>
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <div style="margin-top: -8%">
        <h2 fxLayoutAlign="center">reset password</h2>
      </div>
    </mat-card-subtitle>
    <div>
      <div>
        <mat-form-field appearance="outline" fxLayoutAlign="center center">
          <mat-label>password</mat-label>
          <input matInput placeholder="enter the new password" [(ngModel)]="resetpassword.password">
          <mat-icon matSuffix>visibality</mat-icon>
        </mat-form-field>
      </div>
      <button mat-stroked-button color="accent" (click)="onreset()">submit</button>
    </div>