<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="forgot">
    <mat-card-title fxLayoutAlign="center center">
      <div>
        <h1>Fundoo</h1>
      </div>
    </mat-card-title>
    <mat-card-subtitle>
      <div style="margin-top: -8%">
        <h2 fxLayoutAlign="center">forgot password</h2>
      </div>
    </mat-card-subtitle>
    <div>
      <div>
          <mat-form-field appearance="outline" fxLayoutAlign="center start">
              <mat-label>enter your email</mat-label>
              <input matInput placeholder="Enter your email" [formControl]="email" [(ngModel)]="forgetpassword.email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
      </div>
      <button mat-stroked-button color="accent" (click)="onforgot()" >submit</button>
    </div>
  </mat-card> 
</div>