.forgot {
    margin-left: 2px;
    width: 376px;
    height: 437px;
    margin-top: 73px;
    background-color: antiquewhite;
  }
  .mat-form-field {
    display: inline-block;
    position: relative;
    margin-top: 73px;
    text-align: left;
}
.mat-stroked-button:not([disabled]) {
  border-color: rgba(0,0,0,.12);
  margin-left: 144px;
}